<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2022.1.119(AdditionalPackages)" value="D:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2022\" />
    <add key="Telerik UI for ASP.NET Core 2022.1.119(MainPackage)" value="D:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2022\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>