
@{
    ViewData["Title"] = "Roles List";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <page-header add-title="Roles management page"></page-header>
        <div class="d-flex float-end me-2"><a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Home page</a></div>
    </div>
    <hr />
    <div class="mb-2">
        @(Html.Kendo().Grid<RoleViewModel>()
            .Name("master")
            .HtmlAttributes(new { style = "height:350px;" })
            .Columns(columns =>
            {
                columns.Bound(m => m.RoleId).Width(200);
                columns.Bound(m => m.RoleName).Width(200);
                columns.Bound(m => m.RoleNameNormalized).Width(200);
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
            })
            .ToolBar(toolbar =>
            {
                toolbar.Create();
                toolbar.Excel();
                toolbar.Search();
            })
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            .Filterable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Sortable()
            .Scrollable()
            .Selectable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(m => m.RoleId);
            })
            .Create(update => update.Action("Role_Create", "Roles"))
            .Read(read => read.Action("Role_Read", "Roles"))
            .Update(update => update.Action("Role_Update", "Roles"))
            .Destroy(update => update.Action("Role_Destroy", "Roles"))
            .Events(events => events.Error("error_handler"))
            )
            .Events(events => events.Change("change"))
            .Events(events => events.Save("onSave"))
        )
    </div>
    <div class="mb-2">
        @(Html.Kendo().Grid<AppUserViewModel>()
            .Name("child")
            .HtmlAttributes(new { style = "height:400px;" })
            .Columns(columns =>
            {
                columns.Bound(m => m.Id).Hidden();
                columns.Bound(m => m.UserName).Width(160);
                columns.Bound(m => m.FirstName).Width(100);
                columns.Bound(m => m.LastName).Width(200);
                columns.Bound(m => m.Email).Width(200);
                columns.Bound(m => m.BirthDate).Width(100);
                columns.Bound(m => m.Country).Width(150);
            })
            .ToolBar(toolbar =>
            {
                toolbar.Search();
            })
            .Filterable()
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Sortable()
            .Scrollable()
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Model(model =>
            {
                model.Id(m => m.Id);
            })
            .Read(read => read.Action("Users_Read", "Roles").Data("data"))
            )
        )
    </div>
</div>

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message);
        }
    }

    function change(e) {
        var dataItem = this.dataItem(this.select());
        var roleID = dataItem.RoleId;
        $("#child").data("kendoGrid").dataSource.read({ roleId: roleID });
    }

    function data() {
        var masterGrid = $("#master").data("kendoGrid");
        var dataItem = masterGrid.dataItem(masterGrid.select());
        if (dataItem) {
            return { roleId: dataItem.RoleId };
        }
        else {
            return "";
        }
    }

    function RefreshGrid() {
        $("#master").data("kendoGrid").refresh();
    }

    function onSave() {
        RefreshGrid();
    }

</script>