
<div id="myCarousel" class="carousel slide text-center" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" src="~/images/carousel/avengers-endgame.jpg" />

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Avengers Endgame.</h1>
                    <p>With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/images/carousel/skyfall-james-bond.jpg" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>007 Skyfall.</h1>
                    <p>
                        James Bond's loyalty to M is tested when her past comes back to haunt her. When MI6 comes under attack,
                        007 must track down and destroy the threat, no matter how personal the cost.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/images/carousel/star-wars.jpg" />

            <div class="container">
                <div class="carousel-caption">
                    <h1>Star Wars: Episode III - Revenge of the Sith.</h1>
                    <p>
                        Three years into the Clone Wars, Obi-Wan pursues a new threat, while Anakin
                        is lured by Chancellor Palpatine into a sinister plot to rule the galaxy.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/images/carousel/justice-league.jpg" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Justice League.</h1>
                    <p>
                        Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists
                        the help of his new-found ally, Diana Prince, to face an even greater enemy.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="~/images/carousel/harry-potter.jpg" />

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Harry Potter and the Sorcerer's Stone.</h1>
                    <p>
                        An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself,
                        his family and the terrible evil that haunts the magical world.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#">Learn more &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
