@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row mt-4 col-md-8">
        <div class="col-md-2">
            <a asp-page="/Account/Login" class="btn btn-primary text-light">Sign-in Page</a>
        </div>
        <div class="col-md-2">
            <a asp-area="" asp-action="Index" asp-controller="Home" class="btn btn-info text-light">Home Page</a>
        </div>
    </div>
</div>

