@page
@model Artemis.Pages.Actors.ActorBrowserModel

@{
    ViewData["Title"] = "Actors browser";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <page-header add-title="Actors browser"></page-header>
        <div class="d-inline-flex float-end">
            <button class="gek-btn-success ms-2" onclick="RefreshView()">Refresh</button>
            <a class="gek-btn-primary ms-2" asp-action="Index" asp-controller="Home">Home</a>
        </div>
    </div>
    <hr />

    @(Html.Kendo().DataSource<ActorInfoViewModel>()
        .Name("dataSource")
        .Ajax(dataSource => dataSource
        .Model(model =>
        {
            model.Id(p => p.ActorId);
        })
        .Read(read => read.Action("ActorInfo_Read", "Actors"))
        .ServerOperation(false)
        .PageSize(20)
        )
        )

    <div class="row col-4 mx-1 my-2">
        @(Html.Kendo().AutoComplete()
            .Name("autoComplete")
            .DataTextField("FullName")
            .Filter(FilterType.Contains)
            .Placeholder("Select actor by name")
            .MinLength(3)
            .DataSource("dataSource")
            )
    </div>


    <div class="row mb-2 shadow-sm p-2">
        @(Html.Kendo().ListView<ActorInfoViewModel>()
            .Name("listview")
            .TagName("div")
            .HtmlAttributes(new {style="height:600px;margin:auto" })
            .ClientTemplateId("actor-template")
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(10))
            .Scrollable()
            .DataSource("dataSource")
        )
    </div>
</div>


<style>
    #listView {
        padding: 5px 5px;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        min-height: 600px;
        font: inherit;
    }

    .actor {
        float: left;
        position: relative;
        width: 405px;
        height: 410px;
        margin: 0 5px;
        padding: 0;
        background-color: whitesmoke;
    }

        .actor img {
            width: 150px;
            height: 225px;
        }

        .actor p {
            font-size:0.8rem;
            margin-bottom:2px;
        }

</style>

@section Scripts
{
    <script type="text/template" id="actor-template">
        <div class="card shadow-sm m-1 p-1 actor">
            <div class="d-inline-flex flex-row">
                <img src="data:image/*;base64, #:PhotoImage#" class="me-4 poster"/>
                <div class="d-inline-flex flex-column mt-2">
                    <h4>#: FullName #</h4>
                    <p><label class="fw-semibold">Rating:&nbsp;</label>#: Rating #</p>
                    <p class="smartShortText" style="max-width:200px" title="#:BirthPlace#">
                        <label class="fw-semibold">Birthplace:&nbsp;</label>
                        #: BirthPlace #
                    </p>
                    <p><label class="fw-semibold">Country:&nbsp;</label>#: Country #</p>
                    <p><label class="fw-semibold">Born:&nbsp;</label>#: Dob #</p>
                    <p><label class="fw-semibold">Age:&nbsp;</label>#: Age #</p>
                    <p><label class="fw-semibold">Height:&nbsp;</label>#: Height #</p>
                    <p><label class="fw-semibold">Occupations:</label></p>
                    <p class="smartShortText" title="#: Occupations #" style="max-width:200px;">#: Occupations #</p>
                </div>
            </div>
            <div>
                <p class="mx-2" style="margin-top:2px;"><label class="fw-semibold mb-1">Bio summary:</label></p>
                <p class="long-text mx-2" style="width:380px;height:160px;">#: BioSummary #</p>
            </div>
        </div>

    </script>

    <script type="text/javascript">
        
        function forgeryToken() {
            return kendo.antiForgeryTokens();
        }

        function RefreshView() {
            var listview = $("#listview").data("kendoListView");
            listview.dataSource.read();
        }

    </script>
}